@model BudgetFinal.Models.BudgetGoal

@{
    ViewData["Title"] = "Manage Budget";
}

<h2>Manage Budget</h2>

@if (TempData["BudgetAlert"] != null)
{
    <div class="alert alert-warning">
        @TempData["BudgetAlert"]
    </div>
}

<div>
    <h4>Budget Goal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Start Date
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            End Date
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Limit Amount
        </dt>
        <dd class="col-sm-10">
            @Model.LimitAmount
        </dd>
        <dt class="col-sm-2">
            Total Expenses
        </dt>
        <dd class="col-sm-10">
            @ViewBag.TotalExpenses
        </dd>
    </dl>
    <a asp-action="CreateBudget" class="btn btn-primary">Create New Budget</a>
</div>
